@import "../common/_setup";

.title {
    @include text_not_selectable;
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 65px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 294px;
}

.project_title, .description {
    width: 25%;
    margin: 10px auto 0;
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 10px;

    h2 {
        color: dodgerblue;
        font-size: 25px;
        span {
            font-size: 25px;
        }
    }

    span {
        text-align: justify;
    }
}

form {
    margin: 20px auto 0;
    border: 2px solid aqua;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    overflow: hidden;

    div {
        margin: 20px auto;
        width: 70%;
        label {
            color: dodgerblue;
            font-size: 25px;
        }
    }

    button {
        display: block;
        margin: 0 auto;
        cursor: pointer;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 10px;
        width: 50%;

        &:hover {
            color: black;
            background-color: aqua;
        }
    }
}