@font-face {
    font-family: gwendolyn-regular;
    src: url('../../fonts/font_faces/Gwendolyn-Regular.ttf');
}

@font-face {
    font-family: gwendolyn-bold;
    src: url('../../fonts/font_faces/Gwendolyn-Bold.ttf');
}

@font-face {
    font-family: smooch-regular;
    src: url('../../fonts/font_faces/Smooch-Regular.ttf');
}

@font-face {
    font-family: satisfy;
    src: url('../../fonts/font_faces/Satisfy-Regular.ttf');
}

@font-face {
    font-family: general-regular;
    src: url('../../fonts/font_faces/FuzzyBubbles-Regular.ttf');
}

@font-face {
    font-family: general-bold;
    src: url('../../fonts/font_faces/FuzzyBubbles-Bold.ttf');
}

* {
    text-decoration: none;
    color: aqua;
    background-color: black;
    font-family: general-bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.title {
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 65px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 294px;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project_title, .description {
    width: 25%;
    margin: 10px auto 0;
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 10px;

    h2 {
        color: dodgerblue;
        font-size: 25px;
        span {
            font-size: 25px;
        }
    }

    span {
        text-align: justify;
    }
}

form {
    margin: 20px auto 0;
    border: 2px solid aqua;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    overflow: hidden;

    div {
        margin: 20px auto;
        width: 70%;
        label {
            color: dodgerblue;
            font-size: 25px;
        }
    }

    button {
        display: block;
        margin: 0 auto;
        cursor: pointer;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 10px;
        width: 50%;

        &:hover {
            color: black;
            background-color: aqua;
        }
    }
}