@font-face {
    font-family: gwendolyn-regular;
    src: url('../../fonts/font_faces/Gwendolyn-Regular.ttf');
}

@font-face {
    font-family: gwendolyn-bold;
    src: url('../../fonts/font_faces/Gwendolyn-Bold.ttf');
}

@font-face {
    font-family: smooch-regular;
    src: url('../../fonts/font_faces/Smooch-Regular.ttf');
}

@font-face {
    font-family: satisfy;
    src: url('../../fonts/font_faces/Satisfy-Regular.ttf');
}

@font-face {
    font-family: general-regular;
    src: url('../../fonts/font_faces/FuzzyBubbles-Regular.ttf');
}

@font-face {
    font-family: general-bold;
    src: url('../../fonts/font_faces/FuzzyBubbles-Bold.ttf');
}

* {
    text-decoration: none;
    color: aqua;
    background-color: black;
    font-family: satisfy;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.registration_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 10% auto 0;

    a {
        display: block;
        margin: 0 20px;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 25px;

        span {
            margin-left: 20px;
        }

        span, i {
            font-size: 50px;
        }

        &:hover {
            border-radius: 20px;
            background-color: aqua;
        }

        &:hover span {
            background-color: aqua;
            color: black;
        }

        &:hover i {
            background-color: aqua;
            color: black;
        }
    }
}

.login_link {
    a {
        display: flex;
        flex-direction: column;
        margin: 5% auto 0;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 20px;
        width: 10%;

        span {
            margin-left: 20px;
        }

        span, i {
            font-size: 40px;
            text-align: center;
        }

        i {
            font-size: 90px;
        }

        &:hover {
            border-radius: 20px;
            background-color: aqua;
        }

        &:hover span {
            background-color: aqua;
            color: black;
        }

        &:hover i {
            background-color: aqua;
            color: black;
        }
    }
}


