@import "../common/_setup";

.registration_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 10% auto 0;

    a {
        display: block;
        margin: 0 20px;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 25px;

        span, i {
            font-size: 50px;
            // vertical-align: middle;
        }

        span {
            font-size: 35px;
            margin-left: 20px;
        }

        &:hover {
            border-radius: 20px;
            background-color: aqua;
        }

        &:hover span {
            background-color: aqua;
            color: black;
        }

        &:hover i {
            background-color: aqua;
            color: black;
        }
    }
}

.login_link {
    a {
        display: flex;
        flex-direction: column;
        margin: 5% auto 0;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 20px;
        width: 10%;

        span {
            margin-left: 20px;
        }

        span, i {
            font-size: 35px;
            text-align: center;
        }

        i {
            font-size: 90px;
        }

        &:hover {
            border-radius: 20px;
            background-color: aqua;
        }

        &:hover span {
            background-color: aqua;
            color: black;
        }

        &:hover i {
            background-color: aqua;
            color: black;
        }
    }
}


