@import "../common/_setup";

.title {
    @include text_not_selectable;
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 65px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 586px;
}

.details {
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    margin: 20px auto 10px;

    div {
        margin: 20px 0;
        h2 {
            color: dodgerblue;
            font-size: 25px;
        }

        table {
            border: 1px solid dodgerblue;
            border-radius: 5px;

            th {
                font-size: 20px;
            }

            th, td {
                padding: 10px;
            }

            td {
                font-size: 18px;
            }
        }
    }
}

.approve {
    display: block;
    border: 2px solid rgba(0, 255, 0, 0.349);
    border-radius: 10px;
    padding: 10px;
    color: rgba(0, 255, 0, 0.349);
    font-size: 20px;
    text-align: center;
    margin: 20px auto 0;
    width: 25%;

    &:hover {
        border-color: lime;
        color: lime;
    }
}