@import "../common/_setup";

.title {
    @include text_not_selectable;
    font-family: satisfy;
    font-size: 65px;
    color: rgba(0, 255, 255, 0.8);
    margin-top: 40px;
    text-align: center;
}

.project_details {
    width: 40%;
    margin: 20px auto 0;
    h2 {
        @include text_not_selectable;
        color: dodgerblue;
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    table {
        border: 1px solid dodgerblue;
        border-radius: 5px;
        width: 100%;

        th {
            font-size: 20px;
        }

        th, td {
            padding: 10px;
        }

        td {
            font-size: 18px;
            
            a {
                &:hover {
                    color: lime;
                }
            }
        }
    }
}