
@import "../common/_setup";

.name {
    @include text_not_selectable;
    font-family: satisfy;
    font-size: 90px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 500px;
}

.all_app {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50%;
    width: 90%;

    div {
        margin: 5% 60px 0;

        a {
            border: 2px solid rgba(0, 255, 255, 0.5);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 30px;
            // color: gray;

            span {
                font-size: 50px;
                color: rgba(0, 255, 255, 0.5);
            }
            i {
                font-size: 90px;
                color: rgba(0, 255, 255, 0.5);
            }

            &:hover {
                border-color: aqua;
            }

            &:hover span {
                color: aqua;
            }

            &:hover i {
                color: aqua;
            }
        }
    }
}
