<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_general/booth_setup_page.css' %}">
        <title>Booth setup</title>
    </head>
    <body>
        <h1>Booth setup</h1><br>
        <p>Project title: {{ booth_details.title }}</p>
        <p>Project Descrition:<br>{{ booth_details.short_description }}</p>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ booth_details.id }}" name="proj_id">
            <lebel>Intro video</lebel>
            <input id="intro_video" name="intro_video" type="file" accept=".mp4,.mkv" required>
            <lebel>Report</lebel>
            <input id="report" name="report" type="file" accept=".pdf" required>
            <lebel>Video demo</lebel>
            <input id="demo_videos" name="demo_video" type="file" accept=".mp4,.mkv" multiple>
            <button type="submit"></button>
        </form>


        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_general/booth_setup_page' %}"></script>
    </body>
</html>