<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_general/booth_setup_page.css' %}">
        <title>Booth setup</title>
    </head>
    <body>
        <h1 class="title">Setup Booth</h1><br>

        <div class="project_title">
            <h2>Project title: <span>{{ booth_details.title }}</span></h2>
        </div>

        <div class="description">
            <h2>Project Descrition:</h2>
            <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores sequi libero et inventore, veniam laboriosam eos incidunt modi nostrum totam commodi in vel aliquam. {{ booth_details.short_description }}</span>
        </div>

        <form action="{% url 'app_general:booth_setup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ booth_details.id }}" name="proj_id">

            <div>
                <label>Intro video</label>
                <input id="intro_video" name="intro_video" type="file" accept=".mp4,.mkv" required>
            </div>

            <div>
                <label>Report</label>
                <input id="report" name="report" type="file" accept=".pdf" required>
            </div>

            <div>
                <label>Video demo</label>
                <input id="demo_videos" name="demo_videos" type="file" accept=".mp4,.mkv" multiple>
            </div>

            <button type="submit">Setup</button>
        </form>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_general/booth_setup_page' %}"></script>
    </body>
</html>