<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_general/login_page.css' %}">
        <title>Document</title>
    </head>
    <body>
        
        {% include "../common/navbar.html" %}
        
        {% comment %} <h1 class="title">Login Page</h1>

        <div class="dashboard">
            <a href="{% url 'app_general:teacher_dashboard_page' %}">Teacher Dashboard</a>
            <a href="{% url 'app_general:student_dashboard_page' %}">Student Dashboard</a>
        </div> {% endcomment %}

        <form action="{% url 'app_general:login' %}" method="POST">
            {% csrf_token %}

            <div class="title">Login</div>

            <div class="user">
                <label for="user">E-mail or User ID:</label>
                <input id="user" type="text" name="user" placeholder="Enter you user ID or e-mail" required>
            </div>

            <div class="password">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" placeholder="Enter password" required>
            </div>

            <input type="submit" name="login" value="Login">
        </form>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_general/login_page.js' %}"></script>
    </body>
</html>