<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
      {% comment %} <style>
        a:link, a:visited {
        background-color: #33ff5d;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }

        a:hover, a:active {
        background-color: green;
        }
        </style> {% endcomment %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_general/project_details_page.css' %}">
        <title>Project Details Page</title>
    </head>
    <body>
         <h1 class="title">Project title: {{title}} </h1>

        <div class="details">
          <div class="course_name">
              <h2>Course: <span>{{ course }}</span></h2>
          </div>
            
          <div class="short_description">
            <h2>Short Description:<h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ea incidunt ratione? Voluptatum quas aliquid debitis, possimus magnam reprehenderit deleniti neque rerum dolorem! Necessitatibus, voluptas. {{ description }} </p>
          </div>

          <div class="project_member_details">
            <h2>Project Members:</h2>
            <table border cellspacing="0" cellpadding="0">
              <tr>
                <th>Student Name</th>
                <th>Student ID</th>
              </tr>

              {% for member in members %}
                <tr>
                  <td>{{member.name}}</td>
                  <td>{{member.id}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <a class="approve" href="{% url 'app_general:project_approve' id%}">Approve</a>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_general/project_details_page.js' %}"></script>
    </body>
</html>
