<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_general/student_registration_page.css' %}">
        <title>Document</title>
    </head>
    <body>
        
        {% include "../common/navbar.html" %}
        
        <h1 class="title">Registration</h1>
        
        <form action="{% url 'app_general:student_registration' %}" method="POST" enctype="multipart/form-data">
        
            {% csrf_token %}

            <div class="student_id">
                <label for="student_id">Student ID:</label>
                <input type="text" name="student_id" id="student_id">
            </div>
            <div class="name">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">
            </div>
            <div class="email">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email">
            </div>

            <div class="phone_number">
                <label for="phone_number">Phone Number: </label>
                <input type="text" name="phone_number" id="phone_number">
            </div>

            <div>
                <label for="department">Department:</label>
                <select name="department" id="department">
                    <option value="cse">CSE</option>
                    <option value="eee">EEE</option>
                    <option value="civil">Civil</option>
                </select>
            </div>

            <div class="dob">
                <label>Date of Birth: </label>
                <span>
                    <select name="day" id="day">
                        {% for day in date.days %}
                            <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                    </select>
                    <select name="month" id="month">
                        {% for month in date.months %}
                            <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select name="year" id="year">
                        {% for year in date.years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>

            <div class="password">
                <label for="password">Passoword:</label>
                <input type="password" id="password" name="password">
            </div>
            
            <div class="retype_password">
                <label for="retype_password">Retype Passoword:</label>
                <input type="password" id="retype_password" name="retype_password">
            </div>

            <input type="submit" name="submit" value="Submit">

        </form>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_general/student_registration.js' %}"></script>
    </body>
</html>