@import "../common/_setup";

.title {
    @include text_not_selectable;
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 90px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 784px;
}