<!DOCTYPE html>
{%  load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_admin/prize_giving_page.css' %}">
        <title>Give Prizes</title>
    </head>
    <body>
        {% include "../common/navbar.html" %}
        <h>Give prize</h>
        <lebel>Trimester</lebel><br>
        <select id="trimester">
            <option value="0">Select</option>
            {% for trimester in trimesters %}
                <option value="{{ trimester }}">{{ trimester }}</option>
            {% endfor %}

        </select>
        <br><lebel>Course</lebel><br>
        <select id="courses">
        </select>
        <br><lebel>Project</lebel><br>
        <select>
        </select>

        <div class="prizes">
            <lebel>Prize</lebel><br>
            <div class="prize">
                <lebel for="f_prize"><i class="fad fa-award prize-gold"></i></lebel>
                <input type="radio" id="f_prize" name="prize" value="1">
            </div>
            <div class="prize">
                <lebel for="s_prize"><i class="fad fa-award prize-silver"></i></lebel>
                <input type="radio" id="s_prize" name="prize" value="2">
            </div>
            <div class="prize">
                <lebel for="t_prize"><i class="fad fa-award prize-bronze"></i></lebel>
                <input type="radio" id="t_prize" name="prize"  value="3">
            </div>


        </div>

        <input type="button" value="Give Award">

        </form>
    </body>
    <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/app_admin/prize_giving_page.js' %}"></script>
</html>