<!DOCTYPE html>
{%  load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_admin/prize_giving_page.css' %}">
        <title>Give Prizes</title>
    </head>
    <body>
        {% include "../common/navbar.html" %}
        <h1 class="title">Give prize</h1>

        <form>
            <div>
                <label>Trimester::</label>
                <select id="trimester" name="trimester" required>
                    <option value="0">Select</option>
                    {% for trimester in trimesters %}
                        <option value="{{ trimester }}">{{ trimester }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label>Course:</label>
                <select id="courses" name="courses" required>
                </select>
            </div>

            <div>
                <label>Project:</label>
                <select id="projects" name="projects" required>
                </select>
            </div>

            <div>
                <label>Prize:</label>
                <div class="prizes">
                    <div class="prize" id="gold">
                        <label for="s_prize"><i class="fad fa-medal prize-silver"></i></label>
                        <input type="radio" id="s_prize" name="prize" value="2">
                    </div>
                    <div class="prize">
                        <label for="f_prize"><i class="fad fa-medal prize-gold"></i></label>
                        <input type="radio" id="f_prize" name="prize" value="1">
                    </div>
                    <div class="prize">
                        <label for="t_prize"><i class="fad fa-medal prize-bronze"></i></label>
                        <input type="radio" id="t_prize" name="prize"  value="3">
                    </div>
                </div>                
            </div>
            <input type="button" id="submit" value="Award">
        </form>


    </body>
    <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/app_admin/prize_giving_page.js' %}"></script>
</html>