<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_cse_ps/archieve_projects_page.css' %}">
        <title>Document</title>
    </head>
    <body>

        {% include "../common/navbar.html" %}

        <h1 class="title">Archieved UIU CSE Project Show</h1>

        {% comment %} <h3 class="instructions"><i class="fad fa-asterisk"></i>Select a booth to view its content</h3> {% endcomment %}

        <div class="filter">
            <select name="course_filter" id="course_filter">
                <option value=""> Course </option>
            </select>

            <select name="trimester_filter" id="trimester_filter">
                <option value=""> Trimester </option>
            </select>

            <button type="button" name="filter" id="filter">Apply Filter</button>
        </div>

        <div class="booth_thumbnails" id = "booth_thumbnails">
            {% for project in data %}
                <div class="booth_thumbnail">
                    <div class="project_name">
                        <span>Project name:</span><span>{{ project.title }}</span>
                    </div>
                    <div class="description">
                        <span>Description:</span><span>{{ project.short_description }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quas, reiciendis facilis possimus ratione, animi inventore vero numquam dolorum perferendis at quod magnam saepe? Numquam.</span>
                    </div>

                    <div class="project_members">
                        <h2>Project Members:</h2>
                        <div class="members">
                            {% for member in project.project_members %}
                                <div>
                                    <span class="id">{{ member.id }} | </span>
                                    <span class="id">{{ member.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% comment %} use this id, if needed {{project.id}} {% endcomment %}
                </div>
            {% endfor %}
        </div>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_cse_ps/archieve_projects_page.js' %}"></script>
    </body>
</html>
