{% load static %}
<html>
    <head>
        <title>UIU CSE Project Show</title>
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_cse_ps/index.css' %}">
    </head>
    <body>

        {% include "../common/navbar.html" %}

        <h1 class="title">UIU CSE Project Show</h1>

        <div class="options">
            <a href="{% url 'app_cse_ps:project_registration_page' %}">
                <i class="fad fa-cash-register"></i>
                <span>Project Registration</span>
            </a>
            <a href="{% url 'app_cse_ps:course_list_page' %}">
                <i class="fad fa-users-class"></i>
                <span>Explore Project Booths</span>
            </a>
            <a href="{% url 'app_cse_ps:archieve_projects' %}">
              <i class="fad fa-users-class"></i>
              <span>Archieve</span>
            </a>
        </div>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_general/project_registration_page.js' %}"></script>
    </body>
</html>
