<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_cse_ps/project_registration_page.css' %}">
        <title>Project Registration Page</title>
    </head>
    <body>

        {% include "../common/navbar.html" %}

        <h1 class="title">Project Registration</h1>
        <form action="{% url 'app_cse_ps:project_registration' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="project_title">
				<label for="project_title">Project Title: </label>
				<input type="text" name="project_title" id="project_title" required>
			</div>

			<div class="course-selection">

				<div class="course-name">
					<label for="course">Course: </label>
					<select name="course_name" id="course_name">
						<option value=""> Select Course </option>
					</select>
				</div>

				<div class="section-name">
					<label for="section">Section: </label>
					<select name="section" id="section">
						<option value=""> Select Section </option>
					</select>
				</div>

				
				<!-- <label for="course">Course: </label>
				<select name="course">
				{% for course in data %}
					<option value="{{ course.id }}">{{ course.course_code}} ({{ course.name }}) : {{ course.course_name }}</option>
				{% endfor %}
				</select> -->
			</div>


			<div class="short_description">
				<label for="short_description">Short Description: </label>
				<textarea name="short_description" rows="4" cols="80" required></textarea>
			</div>

			<div class="add_project_member">
				<label for="add_project_member">Enter Student ID to add new member: </label>
				<div class="input_controls">
					<input type="text" name="" id="student_id" placeholder="Student ID">
					{% comment %} <button type="button" name="check_student" id="check_student">Check</button> {% endcomment %}
					<p id="student_info"></p>
					<button class="add_disabled" type="button" name="add_member" id="add_member" disabled>Add Member</button>
				</div>
			</div>

			<div class="project_members">
				<label for="project_members">Student IDs of Project Members</label>
				<textarea name="project_members" rows="5" cols="80" readonly id="project_members"></textarea>
			</div>

			<input type="submit" value="Submit">

        </form>

        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_cse_ps/project_registration_page.js' %}"></script>
    </body>
</html>
