<div class="navbar">
    <div class="regular-item">
        <a class="brand" href="{% url 'app_admin:index' %}">EMAS</a>
        <a class="nav-item" href="{% url 'app_cse_ps:index' %}">CSE Project Show</a>
        <a class="nav-item" href="{% url 'app_club_ff:index' %}">Club Forum Fest</a>
    </div>
    <div class="utility-item">
        <a class="nav-item" href="{% url 'app_general:index' %}">Register</a>
        <a class="nav-item" href="{% url 'app_general:login_page' %}">Login</a>
    </div>   
</div>

<div class="nav-border"></div>
