
<div class="nav-back"></div>
<div class="navbar">
    <div class="regular-item">
        <a class="brand" href="{% url 'app_admin:index' %}">EMAS</a>
        <a class="nav-item" href="{% url 'app_cse_ps:index' %}">CSE Project Show</a>
        <a class="nav-item" href="{% url 'app_club_ff:index' %}">Club Forum Fest</a>
    </div>
    <div class="utility-item">

        <a class="nav-item" href="{% url 'app_general:test_page' %}">Test Page</a>
        
        {% if session.user.login_status %}
            <a class="nav-item" href="{% url 'app_general:'|add:session.user.domain|add:"_dashboard_page" %}">Dashboard</a>
            <a class="nav-item" href="{% url 'app_general:logout' %}">Logout</a>
        {% else %}
            <a class="nav-item" href="{% url 'app_general:student_registration_page' %}">Register</a>
            <a class="nav-item" href="{% url 'app_general:login_page' %}">Login</a>
        {% endif %}

        {% comment %}
            <a class="nav-item" href="{% url 'app_admin:prize_giving_page' %}">Add Prizes</a>
            <a class="nav-item" href="{% url 'app_general:test_page' %}">Test Page</a>
        {% endcomment %}
    </div>   
</div>
<div class="nav-border"></div>
