@mixin reset {
    text-decoration: none;
    color: aqua;
    background-color: black;
    font-family: general-bold;
    font-size: 20px;
    margin: 0;
    padding: 0;

    textarea {
        resize: none;
    }

    &:focus {
        outline: none;
    }
}

@mixin remove_default_autocomplete_style {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid dodgerblue;
        -webkit-text-fill-color: rgba(0, 255, 255, 0.548);
        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
        // transition: background-color 5000s ease-in-out 0s;
    }
}

@mixin text_not_selectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin title {
    @include text_not_selectable;
    font-family: satisfy;
    font-size: 65px;
    color: rgba(0, 255, 255, 0.8);
    margin-top: 40px;
    text-align: center;
}

@mixin form_defaults {
    font-size: 15px;
}

@mixin default_form {
    @include remove_default_autocomplete_style;

    margin: 30px auto 0;
    width: 50%;

    * {
        font-size: 15px;
    }

    div {
        margin: 20px auto 0;
        display: flex;
        flex-direction: column;
        
        label {
            color: dodgerblue;
            font-size: 17px;
            margin-bottom: 7px;
        }

        input[type="text"], 
        input[type="number"], 
        input[type="email"], 
        input[type="password"] {
            border: 2px solid rgba(0, 255, 255, 0.603);
            border-radius: 5px;
            padding: 5px;
        }

        select {
            border: 2px solid rgba(0, 255, 255, 0.603);
            border-radius: 5px;
            padding: 5px;
             
            optional {
                font-size: 15px;
            }

            &:focas {
                outline: none;
            }
        }

        textarea {
            border: 2px solid rgba(0, 255, 255, 0.603);
            border-radius: 5px;
            padding: 5px;
        }
    }

    input[type="submit"] {
        cursor: pointer;
        display: block;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 10px;
        margin: 10px auto 20px;
        width: 30%;
        font-size: 18px;

        &:hover {
            background-color: aqua;
            color: black;
        }
    }
}