
.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 95%;
    padding: 10px 5px;

    border: 2px solid rgba(0, 255, 255, 0.61);
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.096);
    * {
        background: transparent;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .brand {
            font-size: 40px;
            margin-right: 10px;
        }

        .nav-item {
            margin: 11px 10px 0;
            color: rgba(30, 143, 255, 0.712);
            vertical-align: center;
            height: 50%;

            &:hover {
                color: dodgerblue;
            }
        }
    }

    .regular-item {
        margin-left: 100px;
    }

    .utility-item {
        margin-right: 100px;
    }
}  

.nav-back {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100;
    background-color: black;
    height: 90px;
}

.nav-border {
    z-index: 998;
    margin-top: 90px;
}