<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_club_ff/fest_feed_page.css' %}">
        <title>Document</title>
    </head>
    <body>
        
        {% include "common/navbar.html" %}
        <div class="title">Fest Feed</div>
        <div class="filters">
            <div class="filter">
                <label for="club_name">Club:</label>
                <select name="club_name" id="club_name">
                    <option value="all">ALL</option>
                    <option value="id1">club1</option>
                    <option value="id2">club2</option>
                    <option value="id3">club3</option>
                    <option value="id4">club4</option>
                </select>
            </div>
            <div class="filter">
                <label for="sort_by">Sort by:</label>
                <select name="sort_by" id="sort_by">
                    <option value="criteria_1">criteria_1</option>
                    <option value="criteria_2">criteria_2</option>
                </select>
            </div>
        </div>

        <div class="feed">

            <div class="post_card">
                <div class="header">
                    <h2><span>Posted by:</span><span>Computer Club</span></h2>
                    <h3><span>Posted at. </span><span>08-01-2022</span></h3>
                </div>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, nesciunt?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, nesciunt?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, nesciunt?
                </h3>
                <img src="{{ MEDIA_URL }}demo.jpg" alt="">
            </div>
            
            <div class="post_card">
                <div class="header">
                    <h2><span>Posted by:</span><span>Computer Club</span></h2>
                    <h3><span>Posted at. </span><span>08-01-2022</span></h3>
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, nesciunt?</h3>
                <img src="{{ MEDIA_URL }}demo.jpg" alt="">
            </div>

            <div class="post_card">
                <div class="header">
                    <h2><span>Posted by:</span><span>Computer Club</span></h2>
                    <h3><span>Posted at. </span><span>08-01-2022</span></h3>
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, nesciunt?</h3>
                <img src="{{ MEDIA_URL }}demo.jpg" alt="">
            </div>
        </div>
        
        <script src="{% static 'js/common/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/app_club_ff/fest_feed_page.js' %}"></script>
    </body>
</html>