{% load static %}
<html>
    <head>
        <title>UIU Club Forum Fest</title>
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/app_club_ff/index.css' %}">
    </head>
    <body>
        
        {% include "../common/navbar.html" %}

        <h1 class="title">UIU Club Forum Fest</h1>
        
        <div class="options">
            <a href="{% url 'app_club_ff:fest_registration_page' '011181076' %}">
                <i class="fad fa-cash-register"></i>
                <span>Fest Registration</span>
            </a>
            <a href="{% url 'app_club_ff:fest_feed_page' %}">
                <i class="fad fa-rss"></i>
                <span>Fest Feed</span>
            </a>
        </div>

    </body>
</html>