@import "../common/_setup";

.title {
    @include text_not_selectable;
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 90px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 784px;
}

.instructions {
    font-size: 30px;
    margin: 45px auto 40px;
    // width: auto;
    width: 638px;
    vertical-align: middle;

    i {
        font-size: 30px;
        margin-right: 20px;
    }
}

.booth_thumbnails {

    // border: 1px solid aqua;

    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

    .booth_thumbnail {
        width: 20%;
        border: 3px solid aqua;
        border-radius: 10px;
        margin: 0 auto 20px;
        padding: 20px;
        
        .project_name {
            font-size: 40px;
            color: dodgerblue;
            border-bottom: 2px solid rgba(0, 255, 255, 0.432);
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .project_details {
            display: flex;
            flex-direction: column;
            // justify-content: left;
            align-items: center;

            .description {
                width: 90%;
                border: 2px solid rgba(0, 255, 255, 0.432);
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;  
                text-align: justify;    

                h2 {
                    font-size: 25px;
                    color: dodgerblue;
                    margin-bottom: 10px;
                }
            }

            .project_members {
                width: 90%;
                border: 2px solid rgba(0, 255, 255, 0.432);
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;   

                h2 {
                    font-size: 25px;
                    color: dodgerblue;
                    margin-bottom: 10px;
                }

                .members {
                    height: 100px;
                    overflow: auto;
                }
            }
        }

        .visit_link {
            display: block;
            width: 50%;
            margin: 10px auto 0;
            border: 2px solid dodgerblue;
            border-radius: 10px;
            padding: 10px;
            color: dodgerblue;
            text-align: center;
            font-size: 20px;

            &:hover {
                transition: 200ms;
                background-color: dodgerblue;
                color: black;
            }
        }
    }
}
