@import "../common/_setup";

.title {
    @include text_not_selectable;
    font-family: satisfy;
    font-size: 90px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 784px;
}

.instructions {
    font-size: 30px;
    margin: 45px auto 40px;
    width: 638px;
    vertical-align: middle;

    i {
        font-size: 30px;
        margin-right: 20px;
    }
}

.booth_thumbnail {
    border: 2px solid dodgerblue;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    position: relative;

    $label-font: 20px;
    $desc-font: 17px;

    .project_name {

        margin-bottom: 10px;

        span:nth-child(1) {
            color: dodgerblue;
            font-size: $label-font;
        }

        span:nth-child(2) {
            margin-left: 10px;
            color: green;
            font-size: $label-font;
        }
    }

    .description {
        @extend .project_name;
    }

    .project_members {
        h2 {
            color: dodgerblue;
            font-size: $label-font;
        }

        .members {
            display: flex;
            flex-direction: row;

            div {
                border: 2px solid aqua;
                border-radius: 10px;
                margin: 15px;
                padding: 5px 10px;
                span {
                    font-size: 17px;
                }

                span:nth-child(1) {
                    color: green;
                }
        
                span:nth-child(2) {
                    color: yellow;
                }
            }
        }
    }

    .visit_link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin: auto;

        border: 2px solid dodgerblue;
        border-radius: 5px;
        color: dodgerblue;
        padding: 5px 10px;
        font-size: 15px;

        &:hover {
            color: black;
            background-color: dodgerblue;
        }
    }
}
