@font-face {
    font-family: gwendolyn-regular;
    src: url('../../fonts/font_faces/Gwendolyn-Regular.ttf');
}

@font-face {
    font-family: gwendolyn-bold;
    src: url('../../fonts/font_faces/Gwendolyn-Bold.ttf');
}

@font-face {
    font-family: smooch-regular;
    src: url('../../fonts/font_faces/Smooch-Regular.ttf');
}

@font-face {
    font-family: satisfy;
    src: url('../../fonts/font_faces/Satisfy-Regular.ttf');
}

@font-face {
    font-family: general-regular;
    src: url('../../fonts/font_faces/FuzzyBubbles-Regular.ttf');
}

@font-face {
    font-family: general-bold;
    src: url('../../fonts/font_faces/FuzzyBubbles-Bold.ttf');
}

* {
    text-decoration: none;
    color: aqua;
    background-color: black;
    font-family: general-bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.title {
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 90px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 784px;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.instructions {
    font-size: 30px;
    margin: 45px auto 40px;
    // width: auto;
    width: 638px;
    vertical-align: middle;

    i {
        font-size: 30px;
        margin-right: 20px;
    }
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    a {
        width: 28%;
        border: 2px solid aqua;
        border-radius: 10px;

        margin: 20px 20px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: right;

        span:nth-child(1) {
            font-size: 25px;
        }

        span:nth-child(2) {
            font-size: 15px;
        }

        &:hover {
            background-color: aqua;
            color: black;
        }

        &:hover span {
            background-color: aqua;
            color: black;
        }
    }
}
