@font-face {
    font-family: gwendolyn-regular;
    src: url('../../fonts/font_faces/Gwendolyn-Regular.ttf');
}

@font-face {
    font-family: gwendolyn-bold;
    src: url('../../fonts/font_faces/Gwendolyn-Bold.ttf');
}

@font-face {
    font-family: smooch-regular;
    src: url('../../fonts/font_faces/Smooch-Regular.ttf');
}

@font-face {
    font-family: satisfy;
    src: url('../../fonts/font_faces/Satisfy-Regular.ttf');
}

@font-face {
    font-family: general-regular;
    src: url('../../fonts/font_faces/FuzzyBubbles-Regular.ttf');
}

@font-face {
    font-family: general-bold;
    src: url('../../fonts/font_faces/FuzzyBubbles-Bold.ttf');
}

* {
    text-decoration: none;
    color: aqua;
    background-color: black;
    font-family: satisfy;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.title {
    font-family: satisfy;
    // font-family: smooch-regular;
    font-size: 90px;
    color: rgba(0, 255, 255, 0.8);
    margin: 40px auto 0;
    width: 784px;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        display: flex;
        flex-direction: column;
        margin: 80px 100px 0;
        border: 2px solid aqua;
        border-radius: 10px;
        padding: 20px;
        width: 10%;

        span, i {
            font-size: 20px;
            text-align: center;
        }

        span {
            font-family: general-bold;;
            margin-top: 30px;
        }

        i {
            font-size: 90px;
        }

        &:hover {
            border-radius: 20px;
            background-color: aqua;
        }

        &:hover span {
            background-color: aqua;
            color: black;
        }

        &:hover i {
            background-color: aqua;
            color: black;
        }
    }
}
